@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

/* ==================================== */
/* 1. VARIABLES GLOBALES (PALETA TEMEQUI) */
/* ==================================== */
:root {
  --color-negro: #000000;
  --color-dorado: #cbaa4e;
  --color-beige: #f5efe6;
  --color-gris: #544e4a;
  --fuente-principal: "Montserrat", sans-serif;
}

/* ==================================== */
/* 2. RESET Y ESTILOS GLOBALES BASE */
/* ==================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fuente-principal);
  background-color: var(--color-beige);
  color: var(--color-negro);
  min-height: 100vh;
  overflow-x: hidden; /* Evita scroll horizontal */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
